.calculator {
  width: 350px;
  height: 400px;
  background-color: #182329;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display {
  width: 100%;
  height: 75px;
  background-color: #eeeeee;
  border-radius: 5px;
}
